{
  "project_info": {
    "project_number": "1234567890",
    "project_id": "poweralert-pakistan",
    "storage_bucket": "poweralert-pakistan.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:1234567890:android:example",
        "android_client_info": {
          "package_name": "com.example.poweralertpakistan"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "replace-with-your-firebase-api-key"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": []
        }
      }
    }
  ],
  "configuration_version": "1"
}
